/* RESET STYLES
================================ */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,ccc
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 20px;
}




/* FLOAT CLEARFIX
================================ */

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.left {
	float: left;
	list-style: none;
}

.leftImgLogo {
    float: left;
    list-style: none;
    width: 200px;
    height: 60px;
}

.right {
	float: right;
	list-style: none;
	padding-right: 10px; 
}


/* GENERAL STYLES
================================ */

body {
	font-family: Helvetica, Arial, sans-serif;
}

select {	
    color: #8F715B;
    font-size: 12px;
    width: 258px;
    height: 40px;
    border: 1px solid #CCC;
}

select::-ms-expand {
    display: none;
}

.container {
	width: 610px;
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
}
 

/* HEADER STYLES
================================ */

.wide-container {
	background-color: #E4002B; /*#F1F1F1;*/
	width: 100%;
    margin: 0 auto;
    text-align: center
}

.header {
	height: 80px;
    padding-top: 10px;
}

.header a {
	color: #ffffff; /*#6D6E71;*/
	font-size: 11px;
	text-transform: uppercase;
	border-right: 1px solid #0071BC;
	padding-right: 10px;
}

#logo {
    margin-top: 3px;
    margin-left: 30px;
}


/* CARROUSEL STYLES
================================ */

.carrousel-container {
	position: relative;
	height: 396px;
}

.carrousel {
	width: 998px;
	height: 398px;
	border: 1px solid #CECECE;
	position: absolute;
	top: -34px;
}

.carrousel img {
	width: 998px;
	height: 398px;
}

/* LOGIN STYLES
================================ */

.password-form {
	background-color: #FFF;
	width: 600px;
	padding: 0 7px;
	border-radius: 5px;
	text-align: center;
	margin: 0 auto;
}

li img{
vertical-align: top;
}

.password-form .login-title {
	color: #394457;
	font-size: 14px;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 20px;
}

.password-form .input-confirm,
.password-form .input-pass {
	color: #8F715B;
	font-size: 12px;
	width: 255px;
	height: 23px;
	padding: 4px;
	border: 1px solid #CCC;
	margin-bottom: 15px;
	margin-left: 167px;

}

.password-form .input-user::-webkit-input-placeholder,
.password-form .input-pass::-webkit-input-placeholder {
	color: #8F715B;
	font-size: 12px;
}

.password-form .input-user::-moz-placeholder,
.password-form .input-pass::-moz-placeholder {
	color: #8F715B;
	font-size: 12px;
}

.password-form .input-user:-ms-input-placeholder,
.password-form .input-pass:-ms-input-placeholder {
	color: #8F715B;
	font-size: 12px;
}

.password-form input, .password-form a {
	display: block;
}

.password-form ul li {
	padding: 3px 0;
}

.password-form ul input {
	display: inline;
}

.password-form ul label {
	color: #394457;
	font-size: 12px;
}

.password-form a {
	color: #394457;
	font-size: 12px;
	text-decoration: underline;
	padding: 5px 0;
}

.password-form button {
	color: #FFF;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #EC3F47;
	border: none;
	width: 115px;
	margin-right: 10px;
	height: 33px;
	margin: 12px 12px;
	cursor:pointer;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.password-form button:hover {
	background-color: #CA363C;
}

.password-form .security {
	width: 18px;
	height: 20px;
	margin-top: 17px;
	display: block;
}


/* ERROR ALERT BALLOON
================================ */
.balloon {
	background: white url("/redir/redir2.0/images/common/icons/error-icon.png") no-repeat scroll 6px 6px;
    border: 1px solid rgb(188, 106, 108);
    color: rgb(222, 92, 94);
    font-size: 16px;
    left: 371px;
    line-height: 1.5em;
    margin: 6px;
    padding: 10px;
    position: absolute;
    text-align: left;
    top: 48px;
    width: 300px;
    z-index: 3;
}

@-moz-document url-prefix() { 
	.balloon {top: 63px;}
}

.balloon-triangle-border {
 	border-color: transparent transparent transparent rgb(188, 106, 108);
    border-style: solid;
    border-width: 12px;
    top: 67px;
    left: 698px;
    position: absolute;
    width: 0;
    z-index: 3;
}

@-moz-document url-prefix() { 
	.balloon-triangle-border {top: 82px;}
}

.balloon-triangle {
	 border-color: transparent transparent transparent white;
    border-style: solid;
    border-width: 10px;
    -moz-top: 50px;
    top: 69px;
    height: 0;
    left: 698.4px;
    position: absolute;
    width: 0;
    z-index: 3;
    left: 697.4px\9;
}

@-moz-document url-prefix() { 
	.balloon-triangle {top: 84px;}
}
.balloon-text{
	margin-left: 30px;
}



/* CONVERTER STYLES
================================ */
#converter{
	width: 254px;
}

.ExchangeTittle{
  color: #394457;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  width: 233px;
  margin-bottom: 20px;
}
#money-converter li.active-currency {
  color: #394457;
  background: #FFF;
}

.leftPanel{
	width: 233px;
}

#money-converter .currency-data {
  overflow: hidden;
  background-color: #FFFFFF !important;
  margin-top: 30px;
  margin-bottom: 0px;
  overflow: hidden;
  background-color: #FFFFFF !important;
}

#money-converter .currency-data li {
 display: block;
 width: 50%;
 display: inline;
}

.convert {
	border: 1px solid #E6E6E6;
	border-top: none;
	margin-top: -24px;
}

.convert input {
	text-align: right;
	height: 20px;
	border: 1px solid #E4D4C9;
	margin-bottom: 10px;
	margin-left: 10px;
	width: 205px;
}

#amountConverter {
 	width: 158.5px;
    height: 22px;
    color: #8f715B;
    padding-right: 3px;
    font-size: 14px;
}

.ExchangeTitle{

	color: #394457;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	
}

.resultConverter{
	float: right;
    margin-top: -4%;
    margin-right: 27%;
}

.resultConverter span {
	color: #8DC63F;
    font-size: 14px;
    display: inline-flex;
    margin-top: 1px;
    margin-bottom: 3px;
}
.resultConverter.clearfix {
    margin-top: 6%;
    
}

#money-converter {
    margin-top: 0px;
}
#money-converter ul li {
	float: left;
	cursor: pointer;
}
#countryDropDownList {
    margin-left: 132px;
    width: 43%;
    margin-top: -17px;
    float: left;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #6c7e93;
    text-transform: uppercase;
    padding-top: 2px;
}
.converter-main {
	border: 1px solid #E6E6E6;
	border-bottom: none;
	margin-top: 12px;
}

.margin-left {
	margin-left: -40px;
}

.currency {
	display: block;
	margin-top: 11px;
	margin-bottom: 20px;
	padding-left: 0px;
}

.currency-data {
    margin-top: -16px;
}
.currency li {
	color: #FFF;
	background: #394457;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	line-height: 15px;
	width: 50%;
	height: 15px;
	margin-bottom: 11px;
    margin-top: -11px;
}

#money-converter li.active-currency {
	color: #394457;
	background-color: #FFF;
}

#exchangeRateBuyUSD, #exchangeRateSellUSD, #exchangeRateBuyEUR, #exchangeRateSellEUR{
    display: block;
    color: #394457;
    font-size: 18px;
    text-align: center;
    font-weight: normal;
}

.exchangeRateLabel {
    color: #959699;
    font-size: 12px;
    text-align: center;
    display: block;
    font-weight: normal;
    text-transform: none;
}

.onlyEuro {
    width: 233px !important;
    color: #394457 !important;
    background-color: #FFF !important;
    width: 100% !important;
}

.marginOnlyEuro {
    margin-right: 35px;
}

.paddingLeftFix {
    padding-left: 0px;
    margin-bottom: 20px;
}

.inputSymbol {
    position: absolute;
    margin-left: 14px;
    margin-top: 5px;
    color: #8f715B;
}


.hide-button {
	text-indent: 100%;
    white-space: nowrap;
    float: right;
    margin-top: 6px;
    overflow: hidden;
    margin-right: 10%;
}

.leftPanelContainer{
	float: left;
}

.dropDownFix{
	background: #fff url("/ebac/ebac2.0/images/common/icons/arrow-down-icon.png")
		no-repeat right;
	background: none\0;
	-webkit-appearance:none;
	-moz-appearance:none;
	-o-appearance:none;
	appearance:none; 
	direction: rtl;
    padding-right: 12px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.combo_style { background: #fff url("/ebac/ebac2.0/images/common/icons/drop-arrows-icon.png")
		no-repeat scroll right 15px center;}
	.dropDownFix{
		background: #fff url("/ebac/ebac2.0/images/common/icons/arrow-down-icon.png")
		no-repeat right;
	}
}


/* ADS STYLES
================================ */

.ads {
	width: 745px;
}

.ads li {
	width: 362px;
}


/* FOOTER STYLES
================================ */
.footer {
	border-top: 1px solid #E6E6E6;
	margin-top: 30px;
	padding-top: 15px;
	padding-bottom: 50px;
	font-weight: normal !important;
}

.footer p {
	color: #9D9D9D;
    Font-family: Helvetica, Arial, sans-serif; 
	font-size: 13px;
	text-align: center;
}

.buttonRequestPassword {
    width: 225px !important;
}

.cursorStyle{
    cursor:pointer;
}
.changePassword-title {
	color: #394457;
	font-size: 14px;
	margin-top: 10px;
	margin-bottom: 0px;
}

.title {
	padding-top: 30px;
	padding-bottom: 25px;
	margin-left: 15px;
}

.title h1 {
	text-align: center;
	text-transform: uppercase;
    Font-family: Helvetica, Arial, sans-serif; 
    Font-size: 16px;
    font-weight: bold;
    color: #394457;
}

.subTitle h2 {
    margin-left: 15px;
    padding-bottom: 30px;
	text-align: left;
	text-transform: uppercase;
	Color: #394457; 
    Font-family: Helvetica, Arial, sans-serif; 
    Font-size: 12px;
    font-weight: bold;
}

.cancelButtonClass button{
	background-color: #6D6E71 !important;

}

.cancelButtonClass button:hover {
	background-color: #5D5E60 !important;

}

.infoPaClass {

    color: #9D9D9D;
    font-size: 14px;
    text-align: center;
}

.container-form {
    display: table;
    width: 525px;
    font-size: 12px;
}
.content-elements {
    display: table-row;
    vertical-align: middle;
}
.column {
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
}

.securityAnswerClass {
	color: #8F715B;
	font-size: 12px;
	width: 250px;
	height: 29px;
	border: 1px solid #CCC;
	padding-left: 5px;
}
.alignRight {
text-align: right;
}
.confirmClass {
	Color: #6D6E71; 
	Font-family: Helvetica, Arial, sans-serif; 
	Font-size: 12px; 
	Line-height: 18px;
}

.answer {
	Color: #6D6E71; 
	Font-family: Helvetica, Arial, sans-serif; 
	Font-size: 15px; 
	Line-height: 18px;
}

.sectiontitleMessage {
    Font-family: Helvetica, Arial, sans-serif; 
    font-size: 12px;
    font-weight: bold;
    color: #C80000;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: -22px;
    margin-left: 16px;
    margin-top: 10px;
    text-align: left;
}
.bancamaticClass {
    width: 600px;
}

.bancamaticClass input {
    width: 350px;
}

.bancamaticClass select {
    width: 359px;
    color: #8f715b;
    font-size: 12px;
    height: 33px;
}

/* Management Error
================================ */

#cancelButton{
	background-color: #6D6E71 !important;
}

#cancelButton:hover {
	background-color: #5D5E60 !important;

}

.textErrorDescrip{
    text-align: justify;
}

.textCodeError{
	text-align: justify;
}

.fixInline a{
    display: inline-block;
}

.fixInline{
	text-align: center;
	padding-top: 20px;
}

.boldType{	
  	font-weight: bold;
  	text-transform: uppercase;
  	color: #394457;
  	ppercase;
    vertical-align: text-top !important;
}

.content-elements-fix{
	padding-top: 30px;
}

#comboCountryId {
    background: url(/ebac/ebac2.0/images/common/icons/drop-arrow.png) no-repeat right;
    color: #ffffff; /*#6D6E71;*/
    font-size: 11px;
    text-transform: uppercase;
    width: 90px;
    margin-left: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-shadow: none;
    border: none;
    outline: none;
    height: 15px;
}

#comboCountryId option {
	color: black;
}

.input-user-recovery {
    width: 360px !important;
    height: 23px !important; 
    margin-left: 110px !important;
}
.label-user-recovery{
    Font-family: Helvetica;
    font-size: 14px;
    font-weight: bold;
    color: #394457;
    width: 360px !important;
    margin-left: 110px;
    text-align: left;
    height: 20px;
}
.label-required-fields{
    Font-family: Helvetica; 
    font-size: 12px;
    color: #394457;
    width: 100% !important;
    text-align: left;
    height: 20px;
    margin-top: 20px !important;
    margin-bottom: 15px !important;

}
.required-fields{
    color: #EE434C;
}

#need-help{ 
    text-align: right;
    color: #0071BC;
    cursor: pointer;
    Font-family: Helvetica; 
    font-size: 12px;
    float: right;
}

#need-help:hover {
    color: #394457;
}

.need-helpFixPosition{
	margin-left: 0px !important;
	margin-bottom: 40px !important;
}

#cancelButtonId{
	 background: #CDCDCD !important;
	border: none;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    color: #394457;
    cursor: pointer;
	font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 3px;
    padding: 9.5px 0px;
    text-align: center;
    width: 130px;
    margin-right: 15px;
}

#cancelButtonId:hover {
	background-color: #B3B3B3 !important;
}

.title-align-center{
    margin-left: 116px;
}
.defaultBtn {
    background: #CDCDCD;
	border: none;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    color: #394457;
    cursor: pointer;
	font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 3px;
    padding: 9.5px 0px;
    text-align: center;
    display: block;
    width: 130px;
}

.defaultBtn:hover {
	background: #B3B3B3;
	font-weight: bold;
	border: none;
}

.user-recovery-form {
	background-color: #FFF;
	width: 600px;
	padding: 0 7px;
	border-radius: 5px;
	text-align: center;
}


.user-recovery-form .login-title {
	color: #394457;
	font-size: 14px;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 20px;
}

.user-recovery-form .input-confirm,
.user-recovery-form .input-pass {
	color: #8F715B;
	font-size: 12px;
	width: 255px;
	height: 23px;
	padding: 4px;
	border: 1px solid #CCC;
	margin-bottom: 15px;
	margin-left: 167px;

}

.user-recovery-form .input-user::-webkit-input-placeholder,
.user-recovery-form .input-pass::-webkit-input-placeholder {
	color: #8F715B;
	font-size: 12px;
}

.user-recovery-form .input-user::-moz-placeholder,
.user-recovery-form .input-pass::-moz-placeholder {
	color: #8F715B;
	font-size: 12px;
}

.user-recovery-form .input-user:-ms-input-placeholder,
.user-recovery-form .input-pass:-ms-input-placeholder {
	color: #8F715B;
	font-size: 12px;
}

.user-recovery-form ul li {
	padding: 1.3px 0;
}

.user-recovery-form h3 {
	margin-top: 15px !important;
	margin-bottom: 3px;
}

.user-recovery-form ul input {
	display: inline;
}

.user-recovery-form ul label {
	color: #394457;
	font-size: 12px;
}

.user-recovery-form a {
	font-family: Helvetica, Arial, sans-serif;
    color: #0071BC;
    margin-top: 12px;
    cursor: pointer;
    font-size: 12px;
}

.user-recovery-form a:HOVER {
    color: #394467;
}

.user-recovery-form input, .password-form a {
	display: block;
}

.fixBottonPosition{
	display: initial !important;
}

.user-recovery-form button {
	background: #EC3F47;
    border: none;
    -webkit-border-radius: 1px;
    -moz-border-radius: 3px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 3px;
    padding: 9.5px 0px;
    text-align: center;
    width: 160px;
    cursor: pointer;
    margin-top: 40px;
}

#acceptButtonId:hover, .user-recovery-form button:hover {
	background: #CA363C;
	font-weight: bold;
	border: none;
}

.fixSizeForm{
	width: 746px;
	margin-left: -74px;
}

.formAlignLeftFix p{
	text-align: left;
	margin-left: 0px;
	margin-bottom: 0px;
}

.formAlignLeftFix li{
	padding-left: 19px !important;
}

.text-required-fields {
	color: #EE434C !important;
}

.marginTop5px{
	margin-top: 5px !important; 
}

.paragraphText {
    color: #6D6E71;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 22px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}.generatePasswordSectionButton{
	padding: 1px 0px !important;
}

#associated-user-button {
	margin-top: 0px !important;
	
}

/* INICIO REQUERIMIENTOS CAMBIO DE CONTRASENA */

.img-aligment-requirements {
	vertical-align: bottom;
	margin-right: 5px;
}

.envelope-alignment {
    margin-bottom: 4px;
    margin-right: 9px;
    margin-left: 2px;
}

.border-requirements-card {
	border-left: 9px solid #1075bb;
}

@media (min-width: 992px) { 
	.align-link {
		text-align: right;
	}
}

/* FIN REQUERIMIENTOS CAMBIO DE CONTRASENA */

.show-password-icon:before{
	content: url('/ebac/images/common/eye-stroke.svg');
}

.hide-password-icon:before {
	content: url('/ebac/images/common/crossed-out-eye-stroke.svg');
}
	
.bac-login-pass {
     position: relative;
}
.eye-icon {
    position: absolute;
	display: none; 
	transform: translate(0%,-43%);
    top: 50%;
    left: 49%;
}
